@import-normalize;
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
  border: none;
  font-size: 16px;
}

img {
  display: block;
}

:root {
  /* Typography */
  --font-family: "Nunito Sans", sans-serif;
  --font-s-sm: 14px;
  --font-s-md: 16px;
  --font-w-light: 300;
  --font-w-normal: 600;
  --font-w-bold: 800;

  /* Other */
  --border-r: 0.5rem;
}

body[data-theme="dark"] {
  --color-text: hsl(0, 0%, 100%);
  --color-bg: hsl(207, 26%, 17%);
  --color-ui-base: hsl(209, 23%, 22%);

  --shadow: rgba(245, 245, 245, 0.2) 0 0 8px;
}
body[data-theme="light"] {
  --color-text: hsl(200, 15%, 8%);
  --color-bg: hsl(0, 0%, 98%);
  --color-ui-base: hsl(0, 0%, 100%);

  --shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

body {
  margin: 0;
  font-family: var(--font-family);
  color: var(--color-text);
  font-weight: var(--font-w-light);
  background-color: var(--color-bg);
}
