@import-normalize;
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
  border: none;
  font-size: 16px;
}

img {
  display: block;
}

:root {
  /* Typography */
  --font-family: "Nunito Sans", sans-serif;
  --font-s-sm: 14px;
  --font-s-md: 16px;
  --font-w-light: 300;
  --font-w-normal: 600;
  --font-w-bold: 800;

  /* Other */
  --border-r: 0.5rem;
}

body[data-theme="dark"] {
  --color-text: hsl(0, 0%, 100%);
  --color-bg: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  --color-ui-base: #302b63;

  --shadow: rgba(245, 245, 245, 0.5) 0 0 8px;
}
body[data-theme="light"] {
  --color-text: hsl(197, 100%, 1%);
  --color-bg: linear-gradient(
    95.2deg,
    rgba(173, 252, 234, 1) 26.8%,
    rgba(192, 229, 246, 1) 64%
  );
  --color-ui-base: rgba(173, 252, 234, 1);
  --shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px;
}

body {
  margin: 0;
  font-family: var(--font-family);
  color: var(--color-text);
  font-weight: var(--font-w-light);
  background-image: var(--color-bg);
}
